{% extends 'base.html.twig' %}

{% block title %}Helle SnowFlake!{% endblock %}

{% block body %}
<section id="blog">
        <div class="example-wrapper">
            <h1>Hello mili</h1>
            <h2>Montre moi du mon site</h2>
            <a href="{{ path("app_ramdon_ramdon") }}">page ramdon</a>
            <br>
            <br>
            <a href="{{ path("app_snowstorm_index") }}">Mon Page Snowstorm</a>
</section>            
{% endblock %}
